* {
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

*:not(img) {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
  background-color: #0f0f0f;
}

button {
  background-color: #0f0f0f;
  border: 0;
}

header {
  position: fixed;
}

header > * {
  display: flex;
  align-items: center;
}

header > * > * {
  margin-left: 18px;
}

*:focus {
  border: 0 solid #0000;
}

header {
  background-color: #0f0f0f;
  height: 58px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  height: 100%;
}

.main-logo {
  display: flex;
  align-items: center;
  height: 21px;
}

.main-logo sup {
  color: #aaa;
  position: relative;
  bottom: 10px;
  left: 6px;
  font-size: 10px;
}

.button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 8px;
  cursor: pointer;
}

.header-button:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

.self-profile {
  border-radius: 50px;
  overflow: hidden;
  height: 33px;
  margin-right: 36px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 78px;
}

.search-inputs {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.search-field-container {
  flex-grow: 1;
  max-width: 540px;
  background-color: #0f0f0f;
  border-radius: 50px 0 0 50px;
  border: solid #303030 thin;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.search-field {
  flex-grow: 1;
  background-color: #0000;
  border: #0000;
  color: #fff;
  height: 26px;
  width: 40px;
}

.search-button {
  height: 42px;
  border-radius: 0 50px 50px 0;
  border: solid rgb(45, 45, 45) thin;
  border-left: none;
  background-color: #282828;
  padding: 8px;
  padding-left: 21px;
  padding-right: 20px;
}

.search-microphone {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 50px;
  background-color: #191919;
  margin-left: 9px;
}

.search-microphone:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

.focus-field {
  display: none;
  height: 20px;
}

.search-field:hover .focus-field {
  display: block;
}

.layout-grid {
  display: flex;
  position: relative;
  top: 58px;
}

.recommended-content {
  width: 100%;
  overflow: hidden;
}

.bagged {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-block;
  margin: ;
}

.bagged-button {
  background-color: #303030;
  margin: 12px;
  border-radius: 8px;
  padding: 0 12px;
}

aside {
  height: 100vh;
  overflow-y: hidden scroll;
  width: 164px;
  padding: 12px;
  flex-shrink: 0;
}

.recommended-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  margin-left: 10px;
  margin-right: 16px;
}

.videos {
  display: flex;
  flex-direction: column;
}

.poster {
  width: 100%;
  margin: 13px 0;
}

.poster img {
  width: 100%;
  border-radius: 10px;
}

.video-info * {
  color: #aaa;
  font-size: 13px;
}

.video-title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  min-height: 16px;
  max-height: 34px;
}

.video-title ~ * {
  margin-top: 4px;
}

.video-title::after {
  content: "…";
}

.video-info-container {
  display: flex;
  height: 100px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.author {
  height: 39px;
  padding-right: 13px;
  align-self: flex-start;
}

.author img {
  border-radius: 50px;
}

.views-date {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.views-date time::before {
  content: "•";
  margin: 0 4px;
}
