* {
  color: #fff;
}

*:not(img, .recommended-content *) {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #fff;
  background-color: #0f0f0f;
}

button {
  background-color: #0f0f0f;
  border: 0;
  cursor: pointer;
}

header > * {
  display: flex;
  align-items: center;
}

header > * > * {
  margin-left: 18px;
}

*:focus {
  border: 0 solid #0000;
}

header {
  position: fixed;
  z-index: 100;
  background-color: #0f0f0f;
  height: 58px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  height: 100%;
}

.main-logo {
  display: flex;
  align-items: center;
  height: 21px;
}

.main-logo sup {
  color: #aaa;
  position: relative;
  bottom: 10px;
  left: 6px;
  font-size: 10px;
}

.button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 8px;
  cursor: pointer;
}

.circle-button:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

.aside-button:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

.self-profile {
  border-radius: 50px;
  overflow: hidden;
  height: 33px;
  margin-right: 36px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 78px;
}

.search-inputs {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.search-field-container {
  flex-grow: 1;
  max-width: 540px;
  background-color: #0f0f0f;
  border-radius: 50px 0 0 50px;
  border: solid #303030 thin;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.search-field {
  flex-grow: 1;
  background-color: #0000;
  border: #0000;
  color: #fff;
  height: 26px;
  width: 40px;
}

.search-button {
  height: 42px;
  border-radius: 0 50px 50px 0;
  border: solid rgb(45, 45, 45) thin;
  border-left: none;
  background-color: #282828;
  padding: 8px;
  padding-left: 21px;
  padding-right: 20px;
}

.search-microphone {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 50px;
  background-color: #191919;
  margin-left: 9px;
}

.search-microphone:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

.focus-field {
  display: none;
  height: 20px;
}

.search-field:hover .focus-field {
  display: block;
}

.layout {
  display: flex;
  position: relative;
  top: 58px;
}

.padding {
  width: 210px;
  padding: 12px;
  flex-shrink: 0;
}

aside {
  position: fixed;
  height: 770px;
  overflow-y: scroll;
  width: 210px;
  padding: 12px;
  flex-shrink: 0;
}

.side-bar-button > img {
  vertical-align: middle;
}

.side-bar-button {
  padding: 0.4rem;
  height: 2.2rem;
  width: 12rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  text-align: initial;
  font-weight: 500;
}

.side-bar-button:hover {
  background-color: rgba(255, 255, 255, 0.112);
}

.recommended-content {
  width: 100%;
  overflow: hidden;
  margin: 0 24px;
}

.recommended-themes {
  position: relative;
}

.bagged {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-block;
}

.bagged::-webkit-scrollbar {
  display: none;
}

.bagged-button {
  background-color: #303030;
  margin: 12px;
  margin-left: 0;
  padding: 9px 12px;
  border-radius: 8px;
  transition: background;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.bagged-button:hover {
  background-color: #717171;
}

.bagged-button:first-child {
  margin-left: 0;
}

.recommended-themes .button-container {
  display: flex;
  justify-content: center;
  width: 56px;
}

.scroll-button-bg {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}

.scroll-gradient-bg {
  width: 50px;
}

.scroll-button {
  height: 100%;
  z-index: 10;
  background-color: #0f0f0f;
}

.recommended-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.videos {
  display: flex;
  flex-direction: column;
}

.poster {
  width: 100%;
  margin: 13px 0;
}

.poster img {
  width: 100%;
  border-radius: 10px;
}

.video-info * {
  color: #aaa;
  font-size: 13px;
}

.video-info-container {
  display: flex;
  height: 100px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

/* video  title  */

.video-title {
  color: #fff;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  min-height: 16px;
  max-height: 34px;
}

.video-title::after {
  content: "…";
}

.video-title ~ * {
  margin-top: 4px;
}

/* author profile */

.author {
  height: 39px;
  padding-right: 13px;
  align-self: flex-start;
}

.author img {
  border-radius: 50px;
}

/* views & data */

.views-date {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.views-date time::before {
  content: "•";
  margin: 0 4px;
}

/* medias components*/

.table-header-search {
  gap: 4px;
}

/* media desktop not show */

.table-header-search {
  display: none;
}

.table-aside {
  display: none;
}

/* header media */

@media (max-width: 400px) {
  header > * > * {
    margin-left: 4px;
  }

  .search-microphone {
    margin: 0;
  }

  .frame-button {
    margin-left: 9px;
    background-color: #191919;
  }

  .header-home .button-container {
    margin-left: 11px;
    margin-right: 16px;
  }

  .self-profile {
    margin: 0 24px;
    margin-left: 15px;
  }

  .desktop-header-search {
    display: none;
  }

  .table-header-search {
    display: flex;
  }
}

/* aside media */

@media (max-width: 600px) {
  .padding {
    width: 68px;
  }

  aside {
    width: 6rem;
    padding: 0 4px;
  }

  .desktop-aside {
    display: none;
  }

  .table-aside {
    display: block;
  }

  .aside-button {
    padding: 0.7rem;
    margin: 0.1rem;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: xx-small;
  }
}
